<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @post.email %></h1>
    <p>
      You published a new post, congrats!
    </p>
    <p>
      To see now <a href="<%= @url %>">click here link</a>.
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>